<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/edit.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

<header class="header">
    <div class="logo">
        <a href="/">
            <canvas id="logo" width="150" height="90"></canvas>
        </a>
    </div>

    <nav class="mynavbar">
        <ul class="header-ul">
            <li><a href="/admin/home">Home</a></li>
            <li><a href="/admin/meals">Meals</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="#">Create</a></li>

            <li>
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-md btn-danger" name="registration"
                            type="Submit">Logout
                    </button>
                </form>
            </li>
        </ul>

    </nav>
</header>


<div class="mycontainer ">

    <div class=" ">

        <div class="col-3 "></div>

        <div class="col-8 main_part">
            <span th:utext="${successMessage}" class="alert alert-success" role="alert"></span>

            <form th:href="@{/admin/edit(ID_meal=${editedmeal.ID_meal})}" method="post"
                  enctype="multipart/form-data" th:object="${newMeal}">

                <div class=" card my_card">

                    <div class=" card-header text-center">
                        <h3 th:utext="${editedmeal.getTitle()}"> Редактирование блюда </h3>
                    </div>

                    <div class="card-body">


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">Название</label>
                            <div class="col-sm-10">
                            <textarea type="text" class="form-control" rows="1"
                                      th:text="${editedmeal.getTitle()}"
                                      th:field="*{Title}">
                            </textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">Цена</label>
                            <div class="col-sm-10">
                            <textarea type="text" class="form-control" rows="1"
                                      th:text="${editedmeal.getPrice()}"
                                      th:field="*{Price}"> </textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">Категория</label>
                            <div class="col-sm-10">
                                <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                                       class="validation-message"></label>
                                <select class="form-control" th:field="*{category.id}">
                                    <option th:each="cat : ${categories}"
                                            th:value="${cat.id}"
                                            th:text="${cat.getName()}"></option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">Скидка</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" type="text" rows="1"
                                      th:field="*{discountMeal}"> </textarea>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right"></label>
                            <div class="col-sm-10">
                                <input type="file" id="myfile" name="photo" accept="image/*,image/jpeg">
                            </div>
                        </div>

                    </div>

                    <div class="card-footer text-muted">
                        <div class="form-group row">
                            <div class="col-1"></div>

                            <a href="/admin/meals" class="btn btn-primary col-sm-4">Вернуться без изменений</a>

                            <div class="col-2"></div>

                            <button type="submit" class="btn btn-success btn-block col-sm-4">Сохранить изменения
                            </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>


    </div>

</div>

<script type="text/javascript">
    // Переменные
    var canvas, ctx;
    var bPlay = true;
    var iAngle = 0;
    var sText = '   Sushi   Delivery';

    // Функции рисования
    function clear() { // Очистка элемента canvas
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    }

    function drawScene() { // Основная функция вывода сцены
        if (bPlay == 1) {
            clear(); // Очистка элемента canvas

            // Меняем угол
            iAngle -= 0.005;
            // и выводим текст по кругу с радиусом 40 в центре элемента canvas
            draw3DTextCircle(sText, canvas.width / 2, canvas.height / 2, 35, Math.PI / 2 - iAngle);
        }
    }

    function draw3DTextCircle(s, x, y, radius, iSAngle) {
        // Радиан на символ
        var fRadPerLetter = 2 * Math.PI / s.length;
        // Сохраняем контекст, переводим и вращаем его
        ctx.save();
        ctx.translate(x, y);
        ctx.rotate(iSAngle);
        // Количество дополнительных нижних слоев
        var iDepth = 4;
        // Устанавливаем темно-зеленый цвет для дополнительных слоев
        ctx.fillStyle = '#000';
        // Обрабоатываем каждый символ строки
        for (var i = 0; i < s.length; i++) {
            ctx.save();
            ctx.rotate(i * fRadPerLetter);
            // Выводим дополнительные слои
            for (var n = 0; n < iDepth; n++) {
                ctx.fillText(s[i], n, n - radius);
            }
            // Параметры тени
            ctx.fillStyle = '#52BDAC';
            ctx.shadowColor = 'black';
            ctx.shadowBlur = 10;
            ctx.shadowOffsetX = iDepth + 2;
            ctx.shadowOffsetY = iDepth + 2;
            // выводим символы
            ctx.fillText(s[i], 0, -radius);
            ctx.restore();
        }
        ctx.restore();
    }

    // Привязываем событие onload
    if (window.attachEvent) {
        window.attachEvent('onload', main_init);
    } else {
        if (window.onload) {
            var curronload = window.onload;
            var newonload = function () {
                curronload();
                main_init();
            };
            window.onload = newonload;
        } else {
            window.onload = main_init;
        }
    }

    function main_init() {
        // Создаем элемент canvas и объект context
        canvas = document.getElementById('logo');
        ctx = canvas.getContext('2d');
        // Инициализуем строку текста
        ctx.font = '18px Verdana';
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';

        // Выводим текст по кругу с радуисом 160 по центру элемента canvas
        draw3DTextCircle(sText, canvas.width / 2, canvas.height / 2, 120, Math.PI / 2 - iAngle);
        setInterval(drawScene, 30); // Выводим сцену
    }
</script>


</body>
</html>